header,
.sidebar,
.content{
    border: solid;   
}

body{
    height: 98vh;
}

.wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 8fr;
}

header{
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
}

.sidebar{
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.new-task-popup{
    position:absolute;
    top:50%;
    left:50%;
    width:400px;  /* adjust as per your needs */
    height:400px;   /* adjust as per your needs */
    margin-left:-200px;   /* negative half of width above */
    margin-top:-200px;   /* negative half of height above */
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.new-task-popup{
    display: flex;
    max-width: 500px;
    max-height: 500px;
    background-color: white;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

#new-task-form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close-popup{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 25px;
    transform: rotate(45deg);
    cursor: pointer;
}