header,
.sidebar,
.content{
    border: solid;   
}

body{
    height: 98vh;
}

.wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 8fr;
}

header{
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.sidebar{
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}