header,
.sidebar,
.content{
    border: solid;   
}

body{
    height: 98vh;
}

.wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 8fr;
}

header{
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
}

.sidebar{
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content {
    padding-top: 25px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 25px;
}

.content h1 {
    margin: 0;
}

.new-task-popup{
    position:absolute;
    top:50%;
    left:50%;
    width:400px;  /* adjust as per your needs */
    height:400px;   /* adjust as per your needs */
    margin-left:-200px;   /* negative half of width above */
    margin-top:-200px;   /* negative half of height above */
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.new-task-popup,
.new-project-popup{
    display: none;
    flex-direction: column;
    max-width: 500px;
    max-height: 500px;
    background-color: white;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

#new-task-form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#new-project-form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close-popup{
    position: relative;
    font-size: 25px;
    top: -20px;
    right: 0px;
    align-self: flex-end;
    transform: rotate(45deg);
    cursor: pointer;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-left,
.task-right{
    display: flex;
    align-items: center;
    gap: 15px;
}

.project{
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
}

.remove-project,
.remove-task{
    transform: rotate(45deg);
    font-size: 25px;
    cursor: pointer;
}


.new-task-button,
#new-project-button{
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: 30px;
}

.new-task-button{
    margin-top: 25px;
    margin-bottom: 25px;
}

.sidebar-projects{
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.project-name{
    cursor: pointer;      
}