@font-face {
    font-family: 'Gotham-Bold';
    src: url('./font/Gotham\ Bold.otf');
}



header,
.sidebar,
.content{
    /* border: solid; */   
}

body,
h1{
    margin: 0;
}

body{
    height: 100vh;
    font-family: Gotham-Bold;
}

.wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 8fr;
}

header{
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 25px;
    justify-content: space-between;
    background-color: #B9FFF8;
}

.sidebar{
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #F1F1F1;
}

.content {
    padding-top: 25px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 25px;
}

.content h1 {
    margin: 0;
}

.project-data{
    margin-top: 25px;
    margin-bottom: 25px;
}

.new-task-popup{
    position:absolute;
    top:50%;
    left:50%;
    width:400px;  /* adjust as per your needs */
    height:400px;   /* adjust as per your needs */
    margin-left:-200px;   /* negative half of width above */
    margin-top:-200px;   /* negative half of height above */
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.new-task-popup,
.new-project-popup,
.edit-task-popup,
.edit-project-popup{
    display: none;
    flex-direction: column;
    max-width: 500px;
    max-height: 500px;
    background-color: white;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.task-info-popup{
    background-color: white;
    border-radius: 4px;
    min-width: 400px;
    min-height: 100px;
    font-size: 25px;
}

.task-info-popup .close-info-popup{
    position: relative;
    transform: rotate(45deg);
    top: 140px;
    right: -300px;
    cursor: pointer;
}

.task-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;
}

.task-info-icon{
    cursor: pointer;
}

.task-info-details{
    display: flex;
}

.task-info-description{
    flex-wrap: wrap;
}

#new-task-form,
#new-project-form,
#edit-task-form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close-popup{
    position: relative;
    font-size: 25px;
    top: -20px;
    right: 0px;
    align-self: flex-end;
    transform: rotate(45deg);
    cursor: pointer;
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-left,
.task-right,
.project-buttons{
    display: flex;
    align-items: center;
    gap: 15px;
}

.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-project,
.remove-task{
    transform: rotate(45deg);
    font-size: 25px;
    cursor: pointer;
}


.new-task-button,
#new-project-button{
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: 30px;
}

.new-task-button{
    /* padding: 0; */
}

.sidebar-projects{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-name{
    cursor: pointer;      
}

.task-info-title,
.task-info-project,
.task-info-completion,
.task-info-priority,
.task-info-date,
.task-info-details{
    justify-self: center;
    display: flex;
    justify-content: space-between;
}
